<!DOCTYPE html>
<html>
	<head>
		<title>404 not found</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel= "stylesheet" type= "text/css" href= "/style.css">
	</head>
	<body>
		<div class="main">
			<h2>Oops! 404-Not Found</h2>
			<div class="c404">
				<img src="/static/images/404.png" alt="404-not-found" width="20%" height="10%">
			</div>
			<br>
			<p>
				The page you are looking for may be under developement or does not exist
				<br>
				<br>
				<a href="/" class="button404" style="text-decoration:none">Go to home</a>
			</p>
		</div>
		<div class="footer">
			Copyright © foss club 2024. All rights reserved
		</div>
	</body>
</html>