<!DOCTYPE html>
<html>
	<head>
		<title>Open JULI</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel= "stylesheet" type= "text/css" href= "/style.css">
	</head>
	<body>		
		<div class="navbar">
			<a href="/signin" class="button">Sign In</a>
			<a href="#privacy-policy">Privacy</a>
			<a href="#about">About</a>
			<a href="/">Home</a>
			<h3>Open JULI</h3>
		</div>

		<div class="main">
			<p>
				<h2>Introducing the whole new <strong>JULI AI</strong></h2>
				<img src="/static/images/ai_abs1.jpg" alt="ai-abs1" height="50%">
				<div>
					<br>
				</div>
				The concept of an AI teacher is now real. With the help of OPENAI's ChatGPT we have designed a model that solves 
				yours doubts in real-time.
				<div>
					<br>
				</div>
				<img src="/static/images/ai_abs2.jpg" alt="ai-abs2" height="50%">
				<div>
					<br>
				</div>
				Open JULI is an online learning platform that features different types of courses and tutorials with AI.
				Our AI can teach you various technical courses and non-technical courses.
				<div>
					<br>
				</div>
				<img src="/static/images/classroom.jpg" alt="ai-abs2" height="50%">
				<div>
					<br>
				</div>
				JULI can help you learn various topics, solve coding questions, algorithms and much more.
			</p>
			<br>
			<p id="about">
				<h2>About</h2>
				Open JULI is a visionary concept developed by <b>foss club</b> to address the problem of quality education. 
				<br>
				We are committed to provide free and
				fair education to all.
			</p>
			<br>
			<p id="privacy-policy">
				<h2>Privacy Policy</h2>
				<strong>We are transparent</strong>
				<br>
				Open JULI is an open source project created by a group of engineering students. We are not owned/sponsered by
				any third parties. We do not use any sort of ad networks nor content trackers to sell user data.
			</p>
			<p>
				<h2>Who we are</h2>
				<b>foss club</b> is a non-profit organization that makes projects for the betterment of world.
			</p>
		</div>
		<div class="footer">
			Copyright © <b>foss club</b> 2024. All rights reserved
		</div>
	</body>
</html>